<a href="https://colab.research.google.com/github/choi-yh/python_for_coding_test/blob/master/Chapter_06_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 기준에 따라 데이터를 정렬

### 선택 정렬

* 가장 작은 값을 선택해서 앞으로 보내는 알고리즘
* **시간복잡도**: $O(N^2)$

In [1]:
# 선택 정렬 예제
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(len(array)):
    min_index = i # 가장 작은 원소의 인덱스
    for j in range(i+1, len(array)):
        if array[min_index] > array[j]:
            min_index = j
    array[i], array[min_index] = array[min_index], array[i]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 삽입 정렬

* 데이터를 하나씩 확인하며, 각 데이터를 적절한 위치에 삽입하는 알고리즘
* 특정한 데이터가 적절한 위치에 들어가기 이전에, 그 앞의 데이터는 모두 정렬되어 있다고 가정
* **시간복잡도**: $O(N^2)$ (정렬이 되어있는 최선의 경우 $O(N^2)$

In [2]:
# 삽입 정렬 예제
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(1, len(array)):
    for j in range(i, 0, -1): # 왼쪽으로 이동하며 확인
        if array[j] < array[j-1]: # 
            array[j], array[j-1] = array[j-1], array[j]
        else: # 자기보다 작은 데이터를 만나면 멈춘다.
            break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 퀵 정렬

* 기준 데이터를 설정하고 그 기준보다 큰 데이터와 작은 데이터의 위치를 변경
* **피벗(pivot)**을 사용
* **시간복잡도**: $O(NlogN)$ (최악의 경우 $O(N^2)$)

In [5]:
# 퀵 정렬 예제

array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

def quick_sort(array, start, end):
    if start >= end: # 원소가 1개인 경우 종료
        return
    pivot = start # 피벗은 첫 번째 원소
    left = start+1
    right = end
    while left <= right:
        # 피벗보다 큰 데이터를 찾을 때까지 반복
        while left <= end and array[left] <= array[pivot]:
            left += 1
        # 피벗보다 작은 데이터를 찾을 때까지 반복
        while right > start and array[right] >= array[pivot]:
            right -= 1
        if left > right: # 엇갈렸다면 작은 right -= 1 데이터와 피벗을 교체
            array[right], array[pivot] = array[pivot], array[right]
        else: # 엇갈리지 않았다면 작은 데이터와 큰 데이터를 교체
            array[left], array[right] = array[right], array[left]
    # 분할 이후 왼쪽 부분과 오른쪽 부분에서 각각 정렬을 수행
    quick_sort(array, start, right-1)
    quick_sort(array, right+1, end)

quick_sort(array, 0, len(array)-1)
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 계수 정렬 (Count Sort)

* 특정한 조건이 부합할 때만 사용할 수 있지만 매우 빠른 알고리즘
* 데이터의 크기 범위가 제한되어 정수 형태로 표현할 수 있을 때만 사용가능
* 모든 범위를 담을 수 있는 크기의 리스트를 선언해야한다.
* **시간 복잡도**: $O(N + K)$ (K: 데이터 중 최대값의 크기)
* 공간 복잡도 문제가 생길 수 있다. (ex) [0, 99999]인 데이터가 주어졌을때)

* 라이브러리
    * sorted()

In [6]:
# 계수 정렬 예제
# 모든 원소의 값이 0보다 크거나 같다고 가정
array = [7, 5, 9, 0, 3, 1, 6, 2, 9, 1, 4, 8, 0, 5, 2]
# 모든 범위를 포함하는 리스트 선언 (모든 값은 0으로 초기화)
count = [0] * (max(array) + 1)

for i in range(len(array)):
    count[array[i]] += 1 # 각 데이터에 해당하는 인덱스의 값 증가

for i in range(len(count)): # 리스트에 기록된 정렬 정보 확인
    for j in range(count[i]):
        print(i, end=' ') # 띄어쓰기를 구분으로 등장한 횟수만큼 인덱스 출력

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

## 실전 문제 2. 위에서 아래로 (T 기업 코딩 테스트)

In [8]:
n = int(input())

data = []
for _ in range(n): # 수 입력 받아서 저장하기
    data.append(int(input()))

data.sort(reverse=True)
for item in data:
    print(item, end=' ')

3
15
27
12
27 15 12

## 실전 문제 3. 성적이 낮은 순서로 학생 출력하기 (D 기업 프로그래밍 콘테스트 예선)

In [13]:
n = int(input())

data = []
for _ in range(n): # 이름과 성적 입력받기
    a, b = map(str, input().split())
    data.append((a, int(b)))

data.sort(key= lambda student: student[1])
for item in data:
    print(item[0], end=' ')

2
이순신 95
홍길동 77
이순신 홍길동

## 실전 문제 4. 두 배열의 원소 교체 (국제 알고리즘 대회)

In [19]:
# A의 최솟값과 B의 최댓값을 바꿔주면 될것 같다.

n, k = map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort() # A는 오름차순 정렬
b.sort(reverse=True) # B는 내림차순 정렬

for i in range(k): # 최대 k번만큼 수행
    if a[i] < b[i]:
        a[i], b[i] = b[i], a[i]
    else:
        break

print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26